* {
    font-family: 'Roboto';
}

body {
	background: #edccc4;
}

.headshot {
    border-radius: 50%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #315B2A;
	display: table;
	width: 100%;
}

nav li {
	display: table-cell
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: #132B2B;
}

.contents ul {
	display: inline-block;
	text-align: left;
}

.contents {
	margin: auto;
	width: 50%;
	min-width: 350px;
	text-align: center;
}

.contents li {
	list-style-type: none;
	background-color: #315B2A;
	border: 1px solid white;
	width: 320px;
}

.contents li a {
	padding: 0px 0px;
	
}

header {
	margin-left: 14px;
}

article {
	text-align: left;
	margin: 15px;
	max-width: 90%;
	font-size: 18px;
	line-height: 32px;
	padding-left: 20px;
}

#contact{
	float: left;
	text-align: left;
	margin: 15px;
	width: 150;
	font-size: 18px;
	line-height: 32px;
}

#about {
	overflow: hidden;
	float: none;
}

footer {
	position: relative;
	width: 100%;
	bottom: -100px;
	background-color: #315B2A;
}

footer p {
	color: white;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

.social {
	width: 140px;
	background-color: #2C597A;
	color: white;
	margin-left: 15px;
}

.social:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }